Django==6.0.3
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
psycopg2-binary==2.9.11
redis==7.3.0
python-dotenv==1.2.2
Pillow==12.1.1
twisted==25.5.0
PyJWT==2.12.1
sqlparse==0.5.5
asgiref==3.11.1
cryptography==46.0.5
cffi==2.0.0
cbor2==5.8.0
ujson==5.12.0
whitenoise==6.8.2
